[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.5"
flask-sqlalchemy = "==3.0.3"
flask-jwt-extended = "==4.4.0"
psycopg2-binary = "*"
werkzeug = "==2.3.7"
python-dotenv = "==1.0.0"
flask-migrate = "==4.0.0"
marshmallow = "==3.21.0"
cloudinary = "==1.38.0"

[dev-packages]

[requires]
python_version = "3.8"
